<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>HOME PAGE Dispensary</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- ====================================================
header section -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 header-logo">
                <br>
                <a href="index.html"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
            </div>

            <div class="col-md-7">
                <nav class="navbar navbar-default">
                    <div class="container-fluid nav-bar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menu active" href="index" >Home</a></li>
                                <li><a class="menu " href="medi" >Medicine</a></li>
                                <li><a class="menu " href="#home" >Insurance Service</a></li>
                                <li><a class="menu" href="appointment">Online Appointment</a></li>
                                <li><a class="menu" href="#contact">ContactUs</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                    </div><!-- / .container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header> <!-- end of header area -->

<section class="slider" id="home">
    <div class="container-fluid">
        <div class="row">
            <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="header-backup"></div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/slide-one.jpg" alt="">
                        <div class="carousel-caption">
                            <h1>providing</h1>
                            <p>MNNIT Dispensary service for Students &amp; Faculties</p>

                        </div>
                    </div>


                </div>
                <!-- Controls -->


            </div>
        </div>
    </div>
</section><!-- end of slider section -->

<!-- about section -->
<section class="about text-center" id="about">
    <div class="container">
        <div class="row">
            <br>
            <br>
            <br>
            <br>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail clearfix">
                    <div class="about-img">

                        <img class="img-responsive" src="img/item1.jpg" alt="" >

                    </div>

                    <div class="about-details" >
                        <div class="pentagon-text">
                            <h1>1</h1>

                        </div>
                        <h3>Doctor and  Medical Specialist</h3>
                        <a href="doctor_page" class="template-btn mt-3">Find Doctor</a>
                        <p>This institute provides the facilities of Doctors and Specialist relted to all the problems which can students sufferss</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail">
                    <div class="about-img">
                        <a href="#">
                            <img class="img-responsive" src="img/item2.jpg" alt="">
                        </a>
                    </div>
                    <div class="about-details">
                        <div class="pentagon-text">
                            <h1>2</h1>
                        </div>

                        <h3>Recognised Hospital</h3>
                        <a href="hospitals" class="template-btn mt-3">Find Doctor</a>
                        <p>List of all nearby Govemnet and Private Hospitals in Allahabad.  </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-about-detail">
                    <div class="about-img">
                        <a href="#">
                            <img class="img-responsive" src="img/item3.jpg" alt="">
                        </a>
                    </div>
                    <div class="about-details">
                        <div class="pentagon-text">
                            <h1>3</h1>
                        </div>
                        <h3>News and Notifiaction</h3>
                        <a href="news" class="template-btn mt-3">Find Doctor</a>
                        <p>Blood donation camp.
                            <br>Diabities cure program<br>
                            Holidays</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- end of about section -->


<!-- service section starts here -->
<section class="service text-center" id="service">
    <div class="container">
        <div class="row">
            <h2>our services</h2>
            <h4>We provide all types of medical services which are helpful for students and faculty.</h4>

            <div class="col-md-3 single-member col-sm-6">
                <div class="person-detail">
                    <div class="top"></div>
                    <h3>OPD</h3>
                    <p>An OPD is a hospital department designed to be a first contact point between the patient and the hospital staff. A Patient who goes first time to the hospital, he directly goes to OPD and then the OPD decides to which department a patient should go. </p>
                </div>
                <div class="person-detail">
                    <div class="mid"></div>
                    <h3>Pathology</h3>
                    <p>Clinical pathology is a medical specialty that is concerned with the diagnosis of disease based on the laboratory analysis of bodily fluids such as blood and urine, as well as tissues, using the tools of chemistry, clinical microbiology, hematology and molecular pathology. </p>
                </div>

                <div class="person-detail">
                    <div class="bottom"></div>
                    <h3>Physiotherapy</h3>
                    <p>Physiotherapists help people affected by injury, illness or disability through movement and exercise, manual therapy, education and advice. </p>
                </div>
            </div>
            <div class="col-md-3 single-member col-sm-6">
                <div class="person-detail">
                    <div class="top"></div>
                    <h3>Dental</h3>
                    <p>
                        A dentist, also known as a dental surgeon, is a surgeon who specializes in dentistry, the diagnosis, prevention, and treatment of diseases and conditions of the oral cavity. The dentist's supporting team aids in providing oral health services </p>
                </div>
                <div class="person-detail">
                    <div class="mid"></div>
                    <h3>E.N.T.</h3>
                    <p>Otolaryngologists are physicians trained in the medical and surgical management and treatment of patients with diseases and disorders of the ear, nose, throat (ENT), and related structures of the head and neck.  </p>
                </div>
                <div class="person-detail">
                    <div class="bottom"></div>
                    <h3>Psychiatry</h3>
                    <p>Psychiatry is the medical specialty devoted to the diagnosis, prevention, and treatment of mental disorders. These include various maladaptations related to mood, behaviour, cognition, and perceptions. See glossary of psychiatry. </p>
                </div>
            </div>
            <div class="col-md-3 single-member col-sm-6">
                <div class="person-detail">
                    <div class="top"></div>
                    <h3>Homeopathy</h3>
                    <p>Homeopathy or homœopathy is a system of alternative medicine created in 1796 by Samuel Hahnemann, based on his doctrine of like cures like (similia similibus curentur), a claim that a substance that causes the symptoms of a disease in healthy people would cure similar symptoms in sick people. </p>
                </div>
                <div class="person-detail">
                    <div class="mid"></div>
                    <h3>Ayurvedic</h3>
                    <p> Ayurveda is an ancient Indian system of medicine. It uses a wide range of treatments and techniques. </p>
                </div>
                <div class="person-detail">
                    <div class="bottom"></div>
                    <h3>Cardio</h3>
                    <p>Cardio exercise is one of the most important things you can do for your body, whether you want to lose weight, burn fat, or generally improve your health. You can use machines like a treadmill or an elliptical trainer, </p>
                </div>
            </div>
            <div class="col-md-3 single-member col-sm-6">
                <div class="person-detail">
                    <div class="top"></div>
                    <h3>Orthopedic</h3>
                    <p>Orthopedic surgery or orthopedics, also spelled orthopaedics, is the branch of surgery concerned with conditions involving the musculoskeletal system. </p>
                </div>
                <div class="person-detail">
                    <div class="mid"></div>
                    <h3>Neuro Physician</h3>
                    <p>A doctor who specializes in neurology is called a neurologist. The neurologist treats disorders that affect the brain, spinal cord, and nerves, such as: Cerebrovascular disease, such as stroke. Demyelinating diseases of the central nervous system, such as multiple sclerosis.</p>
                </div>
                <div class="person-detail">
                    <div class="bottom"></div>
                    <h3>Emergency</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>
            </div>

        </div>
    </div>
</section><!-- end of service section -->


<!-- team section -->
<section class="team" id="team">
    <div class="container">
        <div class="row">
            <div class="team-heading text-center">
                <h2>Management Team</h2>
                <h4>We have a great team of Faculties who are supervising the Health center.</h4>
            </div>
            <div class="col-md-6  col-sm-8">
                <div class="person">
                    <img class="img-responsive img-rounded" src="img/neeraj.jpg" alt="member-1">
                </div>
                <div class="person-detail">
                    <div class="arrow-bottom"></div>
                    <h3>Prof. Neeraj Tyagi</h3>
                    
                </div>
            </div>
            <div class="col-md-6 col-sm-8">
                <div class="person">
                    <img class="img-responsive img-rounded" src="img/aksingh_1.jpg" alt="member-1" >
                </div>
                <div class="person-detail">
                    <div class="arrow-bottom"></div>
                    <h3>Dr. A.K. Singh</h3>
                    
                </div>
            </div>


        </div>
    </div>
</section><!-- end of team section -->

<!-- map section -->
<div class="api-map" id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 map" id="map"></div>
        </div>
    </div>
</div><!-- end of map section -->

<!-- contact section starts here -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="contact-caption clearfix">
                <div class="contact-heading text-center">
                    <h2>FEEDBACK</h2>
                </div>
                <div class="col-md-5 contact-info text-left">
                    <h3>contact information</h3>
                    <div class="info-detail">
                        <ul><li><i class="fa fa-calendar"></i><span>Monday - Friday:</span> 8:30 AM to 8:30 PM</li></ul>
                        <ul><li><i class="fa fa-calendar"></i><span>Saturday - Sunday:</span> 8:30 AM to 2:00 PM</li></ul>
                        <ul><li><i class="fa fa-map-marker"></i><span>Address:</span> MNNIT Allahabad ,Teliyarganj Allahabad</li></ul>
                        <ul><li><i class="fa fa-phone"></i><span>Phone:</span> (032) 987-1235</li></ul>
                        <ul><li><i class="fa fa-fax"></i><span>Fax:</span> (123) 984-1234</li></ul>
                        <ul><li><i class="fa fa-envelope"></i><span>Email:</span> mnnit@dispensary.com</li></ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section><!-- end of contact section -->

<!-- footer starts here -->
<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>&copy;MNNIT Dispensary All right reserved</p>
            </div>
            <div>
                <p align="right"> Web Administrtor</p>
            </div>
        </div>
    </div>
</footer>

<!-- script tags
=============================================================
<script src="js/jquery-2.1.1.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/gmaps.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>-->
</body>
</html>