<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="../stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <div class="col-xs-5 header-logo" style="margin-left: 5%">
            <br>
            <img src="../img/logo.png" alt="" class="img-responsive logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-right: 5%">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../medi" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Medicine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="insurance" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Insurance Service</a>
                </li> <li class="nav-item">
                <a class="nav-link" href="../appointment" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Online Appointment</a>
            </li>

            </ul>
        </div>
    </nav>

</header>

<div class="container">
        <p align="justify" style="color:black">Institute has engaged National Insurance Company Limited (A Government of 
                India undertaking) for session 2018-19 to cover bonafide students of the
                Institute for hospitalization against illness and accidental injury subject to
                policy conditions as given below.<font color="green"> To avail this facility, a student shall first
                approach the Health Centre of the Institute and Doctor available at the Health
                Centre may refer the student to the listed Hospital, if required.</font> In case of
                emergency [during night or Institute holidays], student may directly approach
                the listed hospital.</p>


                <div class="col-sm-6 col-sm-offset-3" style="overflow-x:auto;">
                        <table class="table" border="1" align="center">

                          <thead>
                            <tr style=" border-left: 6px solid red; color:black" align="cfontnter">
                              <th scope="col"><font size="2">Name of the listed Hospital</font></th>
                              <th scope="col" align="center">Name of TPA Co-ordinator</th>
                              <th scope="col">Mobile No.</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr style=" border-left: 6px solid red; color:black" align="justify">


                              <td><b>Mohak Hospital</b><br>
                              223/1, Stanley Road, <br>Near
                              BeliHospital, New Muirabad,<br>
                              Allahabad (U.P.)</td>
                              <td>Mr.Kamran</td>
                              <td> 7860029000</td>

                            </tr>
                            <tr style=" border-left: 6px solid red; color:black" align="justify">


                              <td><b>Ayushi Hospital &amp; IVF
                                Centre</b><br>
                                800/603A Lajpat Rai Road<br>
                                Near Doordarshan Kendra<br>
                                Mumfordganj Allahabad (UP)</td>
                                <td>Mr.Arsh Khan</td>
                              <td> 998493444</td>

                            </tr>

                          </tbody>
                        </table>
                    </div>


                    <table class="table" border="1">
                                                        
                            <thead>
                              <tr style=" border-left: 6px solid red; color:black" align="cfontnter">
                                <th scope="col"><font size="2">Name of the listed Hospital</font></th>
                                <th scope="col" align="center">Name of TPA Co-ordinator</th>
                                <th scope="col">Mobile No.</th>
              
                              </tr>
                            </thead>
                            <tbody>
                              <tr style=" border-left: 6px solid red; color:black" align="justify">
                                
                                
                                <td><b>Mohak Hospital</b><br>
                                223/1, Stanley Road, <br>Near
                                BeliHospital, New Muirabad,<br>
                                Allahabad (U.P.)</td>
                                <td>Mr.Kamran</td>
                                <td> 7860029000</td>
                              
                              </tr>
                              <tr style=" border-left: 6px solid red; color:black" align="justify">
                                
                                 
                                <td><b>Ayushi Hospital &amp; IVF
                                  Centre</b><br>
                                  800/603A Lajpat Rai Road<br>
                                  Near Doordarshan Kendra<br>
                                  Mumfordganj Allahabad (UP)</td>
                                  <td>Mr.Arsh Khan</td>
                                <td> 998493444</td>
                              
                              </tr>
                              
                            </tbody>
                          </table>

                          <!--<h4 style="opacity: 1; border-radius: 10px;" align="center" class="col-sm-12 col-sm-offset-1">-->
                                <!--<label align="center" style="color:white"> -->
                                    <!--<h1>Policy Features:</h1>&nbsp;-->
                         <!--</label>-->
                         <!--</h4>-->


                         <!--<div style="color:black;border-radius: 20px;background-color:white; " class="col-sm-12 col-sm-offset-1">-->
                                <!--<br><br><br>-->
                    <!---->
                     <!--<ul style="list-style-type:none;">-->
                        <!--<table class="table table-dark" border="1" align="center">-->
                          <!--<tbody><tr style=" border-left: 6px solid red; clolor:black;">-->
                           <!--<td>-->
                     <!--<li class="active"><p><font color="#D7DA0F">1. </font>&nbsp;&nbsp;&nbsp;<font color="black">Maximum extent of cover against hospitalization due to illness or accidental-->
                    <!--injury is Rs. 50,000 per year.</font></p></li></td></tr>-->
                     <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td><li class="active"><p><font color="#D7DA0F">2.</font>&nbsp;&nbsp;&nbsp;<font color="black">The mediclaim benefit available to the students is cashless at designated hospitals-->
                    <!--and through TPA, <br> &nbsp;&nbsp;&nbsp;if treatment is being taken at non designated hospitals then-->
                    <!--claim will be reimbursed to the student on receipt<br> &nbsp;&nbsp;&nbsp;of complete claim documents-->
                    <!--through TPA.</font></p></li></td></tr>-->
                    <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">3. </font>&nbsp;&nbsp;&nbsp;<font color="black">The policy covers permanent total disability due to accident and accidental death-->
                    <!--coverage of the insured <br> &nbsp;&nbsp;&nbsp;student arising out of any accident during the coverage-->
                    <!--period as per coverage chart / policy.</font></p></li></td></tr>-->
                         <!---->
                    <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td>  <li class="active"><p><font color="#D7DA0F">4. </font>&nbsp;&nbsp;&nbsp;<font color="black">The policy covers accidental death and permanent total disablement for earning-->
                    <!--parents of students arising out <br> &nbsp;&nbsp;&nbsp;of any accident during the coverage period as per-->
                    <!--coverage chart / policy.</font></p></li></td></tr>-->
                    <!---->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">5. </font>&nbsp;&nbsp;&nbsp;<font color="black">Treatments under Allopathic System of Medication are only covered.</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">6. </font>&nbsp;&nbsp;&nbsp;<font color="black">Dental treatments &amp; Physiotherapy are not covered for claims / reimbursements.</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">7. </font>&nbsp;&nbsp;&nbsp;<font color="black"><b>Hospitalization for minimum period of 24 Hours is mandatory.</b></font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">8. </font>&nbsp;&nbsp;&nbsp;<font color="black">Death, permanent total disablement and injury due to accident are only covered.</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">9. </font>&nbsp;&nbsp;&nbsp;<font color="black"><b>Death due to mosquito bite / insect bite are excluded.</b></font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">10. </font>&nbsp;<font color="black">Intimation for hospitalization should be given within 24 hrs to Office of-->
                    <!--the Dean (SW).</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">11. </font>&nbsp;<font color="black">Theft of Pedal Cycle from Institute is covered only when it is in the name-->
                    <!--of student and intimation to police is <br> &nbsp;&nbsp;&nbsp;given. It is permissible once in a-->
                    <!--year. Intimation of Bi-cycle theft should be given within 24 hrs to Office-->
                    <!--of the <br> &nbsp;&nbsp;&nbsp;Dean (SW).</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">12. </font>&nbsp;<font color="black">Reimbursement of tuition / examination fee will be subject to-->
                    <!--hospitalization of students after accident and <br> &nbsp;&nbsp;&nbsp;satisfactory investigation.</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">13. </font>&nbsp;<font color="black">Student ID card issued by institute will be considered for cashless claim-->
                    <!--facility.</font></p></li></td></tr>-->
                       <!--<tr style=" border-left: 6px solid red;">-->
                           <!--<td> <li class="active"><p><font color="#D7DA0F">14. </font>&nbsp;<font color="black">For detailed Terms, conditions and exclusions please refer on Page 5/18-->
                    <!--onwards.</font></p></li></td></tr></tbody></table>-->
                       <!---->
                     <!--</ul>-->
                     <!--<br><br>-->
                    <!--</div>-->
    
</div>

<footer class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 footer-para">
                <p>&copy;MNNIT Dispensary All right reserved</p>
            </div>
            <div>
                <p align="right"> Web Administrtor</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>

        

                

                     
    