<!--<h1>   Medicine is :{{result}}</h1>-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="../stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Medicine Avalibility</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <div class="col-xs-5 header-logo" style="margin-left: 5%">
            <br>
            <img src="../img/logo.png" alt="" class="img-responsive logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 20%">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../medi" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Medicine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../insurance" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Insurance Service</a>
                </li> <li class="nav-item">
                <a class="nav-link" href="../appointment" style="background-color:#f44336;color:white;padding: 15px 25px; font-size:15px;text-align: center;display: inline-block">Online Appointment</a>
            </li>

            </ul>
        </div>
    </nav>

</header>

<!--<div class="topnav" id="myTopnav">-->

    <!--<a href="../index.html" class="active">Home</a>-->

    <!--<a href="../appointment">Book an Appointment</a>-->
    <!--<a href="../doctor_page">Find a Doctor</a>-->


<!--</div>-->

<div style="padding-left:16px">
    <center><h2>Medicine Availability Result</h2></center>
       <h3> Medicine is :{{result}}</h3>
    </div>

</div>



</body>
</html>





















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--&lt;!&ndash;<title>Medicine Avalibility</title>&ndash;&gt;-->
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->



    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">-->

    <!--<link rel="stylesheet" type="text/css" href="css/util.css">-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css">-->


    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!--<title>Medicine Avalibility</title>-->
    <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>-->
    <!--<script src="js/modernizr.js"></script>-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="js/html5shiv.js"></script>-->
    <!--<script src="js/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->
<!--<header>-->

    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
        <!--&lt;!&ndash;<a class="navbar-brand" href="#">Navbar</a>&ndash;&gt;-->
        <!--<div class="col-xs-5 header-logo">-->
            <!--<br>-->
            <!--<a href="index.html"><img src="img/logo.png" alt="" class="img-responsive logo"></a>-->
        <!--</div>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="navbarNav">-->
            <!--<ul class="navbar-nav">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="index.html" >Home <span class="sr-only">(current)</span></a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="medi" >Medicine</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link" href="#home" >Insurance Service</a>-->
                <!--</li> <li class="nav-item">-->
                <!--<a class="nav-link" href="appointment">Online Appointment</a>-->
            <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->

<!--</header>-->
<!--&lt;!&ndash;Main Navigation&ndash;&gt;-->
<!--<div class="limiter">-->
    <!--<div class="container-login100">-->
        <!--<div class="wrap-login100">-->
            <!--<div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">-->
					<!--<span class="login100-form-title-1">-->
						<!--Medicine Avalibility  {{{flash}}}-->
					<!--</span>-->
            <!--</div>-->

            <!--<form class="login100-form validate-form"  >-->

                <!--<div class="autocomplete" style="width:300px;">-->
                    <!--<input id="myInput" type="text" value="<h1>Medicine is :{{result}}</h1>"-->
                    <!--placeholder="search Medicine">-->
                <!--</div>-->


            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





<!--</body>-->
<!--</html>-->