<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>HOME PAGE Dispensary</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="assets/css/style1.css">

	
	<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	
	<!-- ====================================================
	header section -->
	<header class="top-header">
		<div class="container">
			<div class="row">
				<div class="col-xs-5 header-logo">
					<br>
					<a href="index.html"><img src="img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-7">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" href="#home" >Home</a></li>
					         <li><a class="menu " href="#home" >Medicine</a></li>
					          <li><a class="menu " href="#home" >Insurance Service</a></li>
					          <li><a class="menu" href="#home">Online Appointment</a></li>
					        <li><a class="menu" href="#contact">ContactUs</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->



 <!-- Specialist Area Starts -->
    <section class="specialist-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-top text-center">
                        
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Mohak Hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 223/1, Stanley Road, Allahabad City, Allahabad - 211003, New Muirabad, Near Beli Hospital</p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2251002 </p>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>narayani Hospitals.</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker">Teliyarganj, Allahabad - 211004, Opposite Motilal Engineering College</p>
                                
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2541630 </p>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-sm-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Nazareth Hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 13/A, Kamla Nehru Road, Civil Lines, Allahabad - 211001</p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2400609 </p>  
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Phoenix Hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                 <p class="fa fa-map-marker"> Building Number- 49A/163, Tagore Town, Allahabad - 211002, Opposite Colonel Ganj Inter College</p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2465514 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
                    <br>
                    <br>
                    <br>


             <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Vatsalya Hospitals</h3>
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> Building Number- 49A/163, Tagore Town, Allahabad - 211002, Opposite Colonel Ganj Inter College</p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2404500 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Sakuntala Hospitals</h3>
                               
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 3-B, 0, Allahabad - 211001, Opposite Saint Joseph School </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2409145 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-sm-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3> jyoti Hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                               <p class="fa fa-map-marker"> 162, Bai Ka Bagh, Lowther Road, Allahabad, Allahabad City, Allahabad - 211003 </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-9152785647 </p> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Narayan Hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                 <p class="fa fa-map-marker"> 40A, Opposite Mundera Mandi Gate, Dhoomanganj, Allahabad - 211011, In Front Of West Gate  </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-9152522544 </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                <br>
                <br>

             <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Tamanna hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 348/1, Tagore Town, Allahabad - 211002, Near Colonel Ganj inter Collage  </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-9152522544 </p> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-lg-0">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>sangam hospitals</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 305, Bairhana, Allahabad - 211003, Near Madhwapur   </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2434223 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor mb-4 mb-sm-0">
                       
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>united diagnostic</h3>
                                
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 22, Thornhill Road, Civil Lines, Allahabad - 211001, Opposite Hotel Legend </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-7081777770 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-doctor">
                        
                        <div class="content-area">
                            <div class="doctor-name text-center">
                                <h3>Ashutosh hospitals</h3>
                               
                            </div>
                            <div class="doctor-text text-center">
                                <p class="fa fa-map-marker"> 15/20 Hasimpur, Hasimpur Road, Tagore Town, Allahabad - 211002, Opp. Kamla Neharu Hospital </p>
                                <br>
                                <br>
                                <p class="fa fa-phone">+(91)-532-2465511 </p> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Specialist Area Starts -->
	

	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy;MNNIT Dispensary All right reserved</p>
				</div>
				<div>
				<p align="right"> Web Administrtor</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Javascript -->
    <script src="assets/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="assets/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/vendor/owl-carousel.min.js"></script>
    <script src="assets/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="assets/js/vendor/superfish.min.js"></script>
    <script src="assets/js/main.js"></script>

	
</body>
</html>